{
    "presets": [
        "es2015",
        "stage-0",
        "react",
        [
            "env",
            {
                "targets": {
                    "chrome": 53
                }
            }
        ]
    ],
    "plugins": [
        [
            "add-module-exports"
        ],
        [
            "antd",
            {
                "libraryName": "antd",
                "style": "css"
            }
        ]
    ]
}